
.create-recipe {
    padding: 20px;
    max-width: 500px;
    margin: auto;
  }
  
  .create-recipe label {
    display: block;
    margin-top: 10px;
  }
  
  .create-recipe input {
    width: 100%;
    padding: 6px;
    margin-top: 4px;
  }
  
  .error {
    color: red;
    font-size: 14px;
  }
  